$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

$p-font-size-mobile: 20px;
$p-font-size-very-large: 24px;

$h-font-size-mobile: 22px;
$h-font-size-very-large: 26px;




$landscape-phones-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desctop-width: 1200px;

$font-narrow:'Lato', sans-serif;

$mobile-bar-width: 35px;
$mobile-bar-height: 3px;
$mobile-bar-spacing: 10px;

$big-bar-width: 45px;
$big-bar-height: 4px;
$big-bar-spacing: 13px;

// @media (min-width: $landscape-phones-width) {

// }

// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }

// @media (min-width: $large-desctop-width) {

// }